{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}


{% load static %}

<div class="home-crousal">
  <h1 style="color: blue; text-align: center; padding-top: 20px;">About Me</h1>

  <div class="about" style="padding-top: 2%;">
    <p style="box-sizing: border-box; color: rgb(36, 36, 46);">I am a profession web developer and data analyst. I graduated from IIT Delhi in 2021. My major of 
      study was chemical engineering. I starting coding in 2nd year of my graduation. 

    </p>
  </div>

  <div class="profile-pic">

    <img src="{% static 'portfolio/images/formal_photo.jpeg' %}" alt="pic">

  </div>
</div>


{% endblock body %}