{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
{% load static %}
<h2 style="padding-top: 2%; font-weight: bold;">Ajay Kumar</h2>
<img src="{% static 'portfolio/images/formal_photo.jpeg' %}">
<h2 style="font-weight: bold;">About Me</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem enim vel distinctio 
    cumque ea soluta magni itaque qui nobis! Magnam, iure incidunt perspiciatis nam ullam
    consequatur? Magni soluta libero quo.</p>

{% endblock body %}